{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}About{% endblock%}
{%  block sidebar %}

{% endblock %}
{% block body %}
    <header>
        <h1>About Movie Rater</h1>
    </header>
    <article>
        <p>
            This movie rating website was developed by Michael Blair
        </p>
        <p>
            If you would like a website dsigned, feel free to contact me on <a href="/">m.blair2@edu.salford.ac.uk</a>
        </p>
    </article>
{% endblock %}