{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block body %}
    <h1>Mickey's Movie Rater Homepage</h1>
    <button class="btn btn-success pull-right">Add new movie</button>
    <hr>
    {% if movies %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Review</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {%  for movie in movies %}
                <tr>
                    <td>{{ movie.title }}
                    </td>
                    <td>
                        {{ movie.description }}
                    </td>
                    <td>
                        {{ movie.rating }}
                    </td>
                    <td>
                        <button class="btb btn-dark">Edit</button>
                    </td>
                    <td>
                        <button class="btb btn-danger">Delete</button>
                    </td>

                </tr>
            {%  endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No names</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <h2>New Releases</h2>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum magni nemo nisi quae reiciendis, veniam. Ad
        animi cupiditate excepturi illum, in iure magnam molestias velit! Corporis est harum numquam quia?
    </div>
    <div>Accusamus ad at excepturi illo ipsam laboriosam nemo neque nobis, obcaecati odio quas, quidem quo velit
        voluptas voluptate? Doloremque, esse nemo non odio officiis perferendis quisquam suscipit totam vel voluptas.
    </div>
    <div>Ad aliquam, consequuntur deserunt exercitationem molestias odio optio provident reiciendis veniam voluptatum.
        Aperiam dicta dignissimos eius, enim error eveniet, exercitationem facilis, harum inventore ipsum iure libero
        quisquam repellendus suscipit voluptatum.
    </div>
    <div>Animi culpa error molestiae perferendis quae ratione rerum tempora vitae? Assumenda blanditiis eum excepturi,
        expedita explicabo, harum illum incidunt numquam placeat rerum saepe sint vero vitae voluptas voluptate.
        Officiis, provident!
    </div>
{% endblock %}
