{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}Add Movie{% endblock%}
{% block body %}
    <header>
        <h1>Add Movie To Database</h1>
    </header>
    <form action="" method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </form>
    {#    add in a confirm #}
    <button class="btn btn-danger"><a href="{{ path('movie_index') }}">Cancel Adding Movie</a></button>
{% endblock %}