{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}Add Movie{% endblock%}
{% block body %}
    <header>
        <h1>Add Movie To Database</h1>
    </header>
    <form action="" method="get">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </form>
{% endblock %}