{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}Add Movie{% endblock%}
{% block body %}
    <header>
        <h1>Add Movie To Database</h1>
    </header>
    <article>
        <p>Add new movie below</p>
    </article>
    <form action="" method="get">
        <input type="text" />
    </form>
{% endblock %}